.bold {
  font-weight: 600;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 500
}

.italic {
  font-style: italic;
}

.caps {
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

.left-align {
  text-align: left;
}

.center {
  text-align: center;
}

.right-align {
  text-align: right;
}

.justify {
  text-align: justify;
}

.nowrap {
  white-space: nowrap;
}

.break-word {
  word-wrap: break-word;
}

.underline {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.large {
  font-size: 150%;
}