// responsive breakpoints
$breakpoints: (
        xs: 24rem,
        sm: 32rem,
        md: 54rem,
        lg: 64rem,
        xl: 80rem
);

// grid gutter
$gutter: 2rem;

// container max-width
$max-width: 64rem;